  <div [formGroup]="passengerForm" >
    <mat-expansion-panel [expanded]="step === index" (opened)="setStep(index)">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Passenger {{ index + 1 }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <mat-form-field>
          <input matInput placeholder="Full Name" formControlName="fullName"/>
          <mat-hint>First and last name in the proper order</mat-hint>
        </mat-form-field>
        <!--

          <mat-form-field>
            <input matInput [matDatepicker]="birthDate" placeholder="Birth Date" formControlName="birthDate"/>
            <mat-hint>Date of Birth</mat-hint>
          </mat-form-field>
        -->
        <div *ngFor="let fieldDefs of fieldsMap[passengerId]; let i = index">
          <additional-field [additional]="fieldDefs" [passengerForm]="passengerForm" [passengerId]="passengerId" [index]="i"></additional-field>
        </div>
      </div>
      <mat-action-row class='reversed-order'>
        <button  class='rightmost' *ngIf="step !== ( numberOfPassengers - 1 )" mat-button color="primary" (click)="nextStep()">Next</button>
        <button  *ngIf="step !== 0" mat-button color="warn" (click)="prevStep()">Previous</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
